@import "tailwindcss";

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
.react-tel-input {
  width: 100%;
  /* border: 2px solid #008bdc; */
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.react-tel-input .form-control {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  /* border-radius: 0.75rem; */
}

.custom-phone-input-container {
  display: flex;
  align-items: center;
  /* border: 2px solid #008bdc; */
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.custom-phone-input-field {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
}

.react-tel-input .flag-dropdown {
  background-color: transparent; 
  border: none;
  height: 40px;
  align-items: center;
  padding: 0;
}



.input-field {
  position: relative;
}

.field {
  outline: none;
  width: 100%;
  border: 2px solid #008bdc;
  padding: 8px 14px;
  transition: 150ms;
}

.field-focus {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 0;
  transition: 150ms;
}

.field:focus {
  border: 2px solid #008bdc;
}

.field:focus ~ label {
  transform: translateY(-39px);
  font-size: 0.9rem;
  font-weight: 700;
  color: #008bdc;
}

button {
 cursor: pointer;
}

.stroke-text {
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.078); /* or any stroke color you want */
  color: transparent;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(8px) !important;
  border: 1px solid white !important;
  border-radius: 9999px !important;
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: 600 !important;
}
